[unit_type]
    id="Terran HQ"
    name= _ "HQ"
    race=building
    image="units/terran-g/terran-hq.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {TRAIT_CONSTRUCTION}
    hitpoints=50
    movement_type=ge_building
    movement=1
    experience=50
    level=1
    alignment=neutral
    advances_to=null
    cost=70
    usage=fighter
    description= _ "None."
    die_sound={SOUND_LIST:GE_SMALL_EXPLOSION}
	{GE_SHIP_DEATH_EXPLOSION}
    
    [attack]
        name=food
        description=_"food"
        icon=attacks/blank-attack.png
        range=none
        type=none
        damage=0
        number=15
        attack_weight=0
        defense_weight=0
        [specials]
			{WEAPON_SPECIAL_CITIZEN_PRODUCTION ("Terran Worker")}
		[/specials]
    [/attack]
    
    
    # Terran
    [variation]
		variation_name=Terran
        inherit=yes
		image="units/terran-g/terran-hq.png"
    [/variation]
    # Vendeeni
    [variation]
		variation_name=Vendeeni
        inherit=yes
		image="units/vendeeni-g/vendeeni-hq.png"
    [/variation]
    # Dwartha
    [variation]
		variation_name=Dwartha
        inherit=yes
		image="units/dwartha-g/dwartha-hq.png"
    [/variation]
    # Iildari
    [variation]
		variation_name=Iildari
        inherit=yes
		image="units/iildari-g/iildari-hq.png"
    [/variation]
    # Alien
    [variation]
		variation_name=Alien
        inherit=yes
		image="units/aliens/alien-hq.png"
    [/variation]
    
    
      
    
    [movetype]
        name=smallfoot
        #mounted
        [movement_costs]
            deep_water={UNREACHABLE}
            #shallow_water=4
            #reef=3
            #swamp_water=4
            flat=1
            sand=2
            #forest=3
            hills=2
            #mountains={UNREACHABLE}
            village=1
            castle=1
            #cave=4
            #frozen=2
            unwalkable={UNREACHABLE}
            impassable={UNREACHABLE}
            #fungus=4
        [/movement_costs]
        #foot
        [movement_costs]
            deep_water={UNREACHABLE}
            #shallow_water=3
            #reef=2
            #swamp_water=3
            flat=1
            sand=2
            #forest=2
            hills=2
            #mountains=3
            village=1
            castle=1
            #cave=2
            #frozen=3
            unwalkable={UNREACHABLE}
            impassable={UNREACHABLE}
            #fungus=2
        [/movement_costs]
		#mounted
		[defense]
            deep_water=80
            shallow_water=80
            reef=70
            swamp_water=80
            flat=60
            sand=70
            #forest=70
            #hills=60
            #mountains=80
            #village=60
            #castle=60
            #cave=80
            #frozen=70
            unwalkable=80
            impassable=80
            #fungus=80
        [/defense]
        #foot
        [defense]
            deep_water=80
            shallow_water=80
            reef=70
            swamp_water=80
            flat=60
            sand=70
            #forest=50
            #hills=50
            #mountains=40
            #village=40
            #castle=40
            #cave=60
            #frozen=80
            unwalkable=80
            impassable=60
           #fungus=50
        [/defense]
		
		#mounted
		  [resistance]
            blade=80
            pierce=120
            impact=70
            fire=100
            cold=100
            arcane=80
        [/resistance]
        #foot
        [resistance]
            blade=100
            pierce=100
            impact=100
            fire=100
            cold=100
            arcane=80
        [/resistance]
    [/movetype]
    
 [/unit_type]

